import java.util.Random;
import java.util.Scanner;

public class BlackJackGame {
	public static void main(String[] args) {
		Scanner scanner = new Scanner(System.in);
        Random random = new Random();

        System.out.println("Welcome! type something to start the game");

        while (true) {
            // Wait for user input
            String userInput = scanner.nextLine();
            if(userInput.equals("change1")){
            	int firstCard = random.nextInt(11);
            }

            // Check if the user wants to exit
            if (userInput.equalsIgnoreCase("exit")) {
                System.out.println("Exiting the program. Goodbye!");
                break;
            }

            // Generate and display a random value
            int firstCard = random.nextInt(11);
            int SecondCard = random.nextInt(11);
            System.out.println("First Card " + firstCard);
            System.out.println("Second Card " + SecondCard);
        }

        // Close the scanner
        scanner.close();
    }
}
